@{
    ViewData["Title"] = "AccessDenied";
}

<style>
    div {
        text-align: center;
    }

    h1 {
        font-size: 42px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20%;
    }
    
    .div_border {
        background-color: #bde0fe;
        color: #d00000;
        font-family: Arial, sans-serif;
        font-size: 30px;
    }

</style>

<body style="background-color: #bde0fe;">
    <div class="div_border" style="">
        <h1>Access Denied</h1>
    </div>
    
</body>